<div class="layout-flex layout-flex-center full layout-absolute layout-flex-col">
  <div class="block">
    <div class="title">
      <h2>用戶資料</h2>
    </div>
    <div class="sub-block name">
      <span class="label">名稱 - </span><span>{{name}}</span>
    </div>
    <div class="sub-block id">
      <span class="label">ID - </span><span>{{id}}</span>
    </div>
  </div>
  <div class="block posts">
    <div class="title">
      <h2>粉絲團列表</h2>
    </div>
    <div *ngFor="let account of accounts; index as i;" class="sub-block sub-block-highlight btn"
      (click)="onAccountClick(account);">
      <div class="block-radius">
        <span>{{account.name}}</span>
      </div>
    </div>
  </div>
</div>
