.refresh{
  position: absolute;
  right: 50px;
  top: 30px;
  line-height: 40px;
  height: 40px;
  color:white;
  padding: 0 10px;
  font-size: 12px;
  background: rgb(238, 77, 77);;
  border-radius: 10px;
}

.reply{
}

.reply input{
  background: rgba(0,0,0,0);
  margin-top: 20px;
  text-align: center;
  border: 1px solid white;
  outline: none;
  height: 50px;
  font-size: 20px;
  width: 100%;
  color: white;
}

